@import "../bower_components/bootstrap/less/bootstrap";
@import "_variables_override";

/*** Layout ***/
html,
body {
}

body {
  @media @phone {
    font-size: 10px;
  }

  @media @tablet {
    font-size: 12px;
  }
}

p {
  line-height: 1.5;
}

hr {
  display: block;
  width: 100%;
  border-color: @gray-light;
}

/*** Top Bar ***/
@top-bar-height: 35px;

.top-bar {
  height: @top-bar-height;
  line-height: @top-bar-height;
  background-color: #FBFBFB;
  border-bottom: 1px solid #E9E9E9;
}

.top-bar-block {
  float: left;
  margin-right: 10px;
  padding-right: 10px;
  font-size: 12px;
  color: @gray;

  span, i {
    float: left;
    padding-right: 8px;
    line-height: @top-bar-height;
  }
}

.top-bar-social {
  a {
    .transition(background .1s ease-in-out);
    display: inline-block;
    float: right;
    width: 35px;
    line-height: @top-bar-height;
    font-size: 18px;
    text-align: center;
    color: @gray;

    &:hover {
      text-decoration: none;
      color: @white;
    }
  }
}

.social-facebook:hover { background: @facebook; }
.social-twitter:hover { background: @twitter; }
.social-email:hover { background: @brand-tertiary; }

.top-bar .fa {
  &.fa-mobile { font-size: 22px; }
  &.fa-envelope-o, .fa-envelope { font-size: 17px; }
}

/*** Homepage ***/
.extempra-nav {
  .navbar-brand {
    line-height: @navbar-height;
    padding: 0 15px;
  }

  .navbar-nav {
    > li > a {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 14px;
      padding-left: 25px;
      padding-right: 20px;
    }

    .caret {
      margin-left: 6px;
      margin-bottom: 2px;
    }

    a {
      background: none !important;
      color: darken(@gray, 10%);

      &:hover {
        color: lighten(@brand-primary, 20%);
      }
    }
  }
}