  <div id="ec-create-your-own" class="scroll-anchor-offset ec-create-your-own">
    <h3 class="h3-lined">Create Your Own Series</h3>
    <p>Want to Create Your Own Series?</p>
    <p>
      We know that professional development is a very unique process for each participant. That’s why we are always happy to create a custom-tailored workshop series that best suits your needs.
    </p>
    <p>
    Whether you are looking to create a series combining our existing workshops (Hyperlink to existing workshop page), develop new areas of content, or change the number of workshops we host for a series, let us know and we can discuss how Extempra can best support your communication goals.
    </p>

    <a href="mailto:info@extempra.com" title="Email info@extempra.com" class="btn-contact">
      <button class="btn btn-primary btn-cta btn-animated-light btn-pink centered">
        Contact Us
      </button>
    </a>
  </div>