  <div id="ec-public-speaking" class="scroll-anchor-offset ec-public-speaking">
    <a href="#ec-public-speaking"><h3 class="h3-lined">Public Speaking Series</h3></a>
    <p>
      The Public Speaking Series is designed to help you build a proper foundation as speakers, practice in front of an audience, and finally, learn how to continue exploring the intricacies of writing and delivering a strong prepared or impromptu speech.
    </p>
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th class="session-num">Session</th>
            <th class="topic-area">Topic Area</th>
            <th class="time-duration">Time Duration</th>
            <th class="desc">Description</th>
          </tr>
        </thead><tbody>
          <tr>
            <td class="session-num">1</td>
            <td class="topic-area">Speech Craft</td>
            <td class="time-duration">1.5 hours</td>
            <td class="desc">Participants will get a chance to learn the basic theories about writing a speech that properly guides the audience.</td>
          </tr><tr>
            <td class="session-num">2</td>
            <td class="topic-area">Delivery</td>
            <td class="time-duration">2 hours</td>
            <td class="desc">This session challenges participants to integrate their body and their voice into a written speech. </td>
          </tr><tr>
            <td class="session-num">3</td>
            <td class="topic-area">Practice Session 1 </td>
            <td class="time-duration">1.5 hours </td>
            <td class="desc">Participants are asked to write a short minute speech to present to the group. Others will learn how to provide effective feedback. </td>
          </tr><tr>
            <td class="session-num">4</td>
            <td class="topic-area">Impromptu Speaking </td>
            <td class="time-duration"> 2 hours </td>
            <td class="desc">The remainder of the participants complete their speech practice. A mini session on delivering impromptus is provided. </td>
          </tr><tr>
            <td class="session-num">5</td>
            <td class="topic-area">Personal Coaching</td>
            <td class="time-duration">1 hour </td>
            <td class="desc">Participants recieve a one-on-one coaching session to provide more in-depth feedback about their strenghs/areas of growth. </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="notify-me">
      <a href="javascript:void(0);" title="Notify Me">
        <button class="btn btn-primary btn-cta btn-animated-light">Notify Me</button>
      </a>
      <p><small>Get notified when this class is offered next</small></p>
    </div>
  </div>