  <nav id="ec-affix" class="extempraclasses-sidebar hidden-print hidden-xs hidden-sm affix" data-spy="affix" data-offset-top="0" data-offset-bottom="0">
    <ul class="nav">
      <li>
        <a href="#ec-public-speaking">Public Speaking Series</a>
      </li>
      <li>
        <a href="#ec-professional-speaking">Professional Speaking Series</a>
      </li>
      <li>
        <a href="#ec-accent-training">Accent Training Series</a>
      </li>
      <li>
        <a href="#ec-create-your-own">Create Your Own Series</a>
      </li>
    </ul>
  </nav>