  <div id="ec-professional-speaking" class="scroll-anchor-offset">
    <h3 class="h3-lined">Professional Speaking Series</h3>
    <p>
      The Professional Speaking Series is aimed at young professionals hoping to develop their personal brand and edge in a business setting. It will give you the tools to showcase an authentic, credible, and confident image from both a content and presentation perspective.
    </p>
    <p>Typical Schedule...</p>
    <div class="notify-me">
      <a href="javascript:void(0);" title="Notify Me">
        <button class="btn btn-primary btn-cta btn-animated-light">Notify Me</button>
      </a>
      <p><small>Get notified when this class is offered next</small></p>
    </div>
  </div>