  <div id="ec-accent-training" class="scroll-anchor-offset">
    <h3 class="h3-lined">Accent Reduction Series</h3>
    <p>
    Our Accent Reduction Series is an effective method to develop your English conversational skills. It equips participants with the techniques required to incrementally reduce accents and speaking quirks both during and after the series. We recommend this for individuals new to Canada and the English language.
    </p>

    <p>This series offers</p>
    <ul>
      <li>A basic overview of English tonality and speech structures</li>
      <li>Weekly conversation circles on intriguing topics</li>
      <li>Facilitator led vocal and reading exercises</li>
      <li>A detailed analysis of you speaking style and quirks</li>
    </ul>

    <p>Estimate Duration: ????</p>

    <div class="notify-me">
      <a href="javascript:void(0);" title="Notify Me">
        <button class="btn btn-primary btn-cta btn-animated-light">Notify Me</button>
      </a>
      <p><small>Get notified when this class is offered next</small></p>
    </div>
  </div>

