{% assign offerings-pages = site.pages | where: 'parent', 'offerings' | sort: 'sitemap-order' %}
{% assign about-us-pages = site.pages | where: 'parent', 'about-us' | sort: 'sitemap-order' %}
{% assign contact-pages = site.pages | where: 'parent', 'offerings' | sort: 'sitemap-order' %}

<nav class="navbar navbar-default extempra-nav">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.url }}"><img alt="Extempra Logo" src="../img/logo.png"></a>
    </div>

    <!-- These get collapsed into responsive nav -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle {% if p.url == page.url %}active{% endif %} {% if page.parent == 'offerings' %}active{% endif %}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Offerings<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            {% for p in offerings-pages %}
            <li>
              <a href="{{ p.permalink }}" class="{% if p.url == page.url %}active{% endif %}">
                {% if p.sitemap-title %}
                  {{ p.sitemap-title }}
                {% else %}
                  {{ p.title }}
                {% endif %}
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>
        <li class="dropdown">
          <a href="/about" class="dropdown-toggle {% if p.url == page.url %}active{% endif %} {% if page.parent == 'about-us' %}active{% endif %}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            About Us<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            {% for p in about-us-pages %}
            <li>
              <a href="{{ p.permalink }}" class="{% if p.url == page.url %}active{% endif %}">
                {% if p.sitemap-title %}
                  {{ p.sitemap-title }}
                {% else %}
                  {{ p.title }}
                {% endif %}
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>
        <li><a href="/contact/" class="{% if page.url == '/contact/' %}active{% endif %} {% if page.parent == 'contact' %}active{% endif %}">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>