      <!-- Start of testimonial -->

      <div class="col-xs-12 testimonial">
        <span class="left quotemark">&ldquo;</span>
        <p class="content">The workshop focused on developing oral communication skills and received extremely high ratings from students. Marco and Christina are full of energy and take a very interactive approach in keeping the students engaged throughout the workshop.</p>
        <span class="right quotemark">&rdquo;</span>

        <div class="profile">
          <div class="profile-content">
            <p class="name">Victoria Bambrick</p>
            <p class="position">Experiential Learning and Career Development Coach</p>
            <p class="company">School of Accounting and Finance, University of Waterloo</p>
          </div>
          <img class="pic" src="/img/testimonial1.jpg">
        </div>
      </div>

      <!-- End of testimonial -->

       <!-- Start of testimonial -->

      <div class="col-xs-12 testimonial">
        <span class="left quotemark">&ldquo;</span>
        <p class="content">[The facilitator] was able to improve my presentation, speaking and media skills ten fold after only a week of training. He is quick on his feet and able to adjust and customize his services based what his clients need in the moment in order to be successful.</p>
        <span class="right quotemark">&rdquo;</span>

        <div class="profile">
          <div class="profile-content">
            <p class="name">Rachel Bartholomew</p>
            <p class="position">Managing Partner</p>
            <p class="company">Cybernorth Ventures Inc</p>
          </div>
          <img class="pic" src="/img/testimonial.jpg">
        </div>
      </div>

      <!-- End of testimonial -->