<div class="top-bar">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-7">
        <a href="tel:226-339-1001" class="call-us top-bar-block">
          <i class="fa fa-mobile hide-mobile"></i>
          <span> Call us at 226.339.1001 </span>
        </a>
        <a href="mailto:info@extempra.com" class="mail-us top-bar-block">
          <i class="fa fa-envelope-o hide-mobile"></i>
          <span> E-mail: info@extempra.com </span>
        </a>
      </div>
      <div class="col-sm-5 top-bar-social hide-mobile">
        <a href="https://twitter.com/extempra" target="_blank" class="social-twitter fa fa-twitter fa-fw" data-original-title="twitter"></a>
        <a href="https://facebook.com/extempra" target="_blank" class="social-facebook fa fa-facebook fa-fw" data-original-title="facebook"></a>
        <a href="mailto:info@extempra.com" title="mail" target="_blank" class="social-email fa fa-envelope fa-fw"></a>
      </div>
    </div>
  </div>
</div>